<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/help.html">Help</a></li>
  <li><a href="/portfolio">Portfolio</a></li>
</ul>
<footer>
  <p>CopyRight {{year}}</p>
</footer>
